content{
    grid-area: content;
    padding: 15px 10px 0 10px;
    overflow: scroll;
}

content::-webkit-scrollbar{
    width: 0;
}

p{
    margin: 0;
}


/* categories */
.categories{
    max-width: 100%;
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1vw;
    overflow-x: scroll;
} 

.categories::-webkit-scrollbar{
    width: 0;
}

.categories a{
    background-color: #cccccc;
    border: 1px solid #adadad;
    border-radius: 50px;
    padding: 6px;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    color: black;
    font-size: 14px;
    transition: all 0.2s ease-in;
}

.categories a:hover{
    background-color: #9978ae;
    color: white;
}

.focus{
    background-color: #7f5a95 !important;
    color: white !important;
    border: 1px solid #7f5a95 !important;
}


/* Videos */
.videos{
    max-height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    grid-gap: 1vw;
}


/* video item */
.preview{
    display: block;
    position: relative;
}

.preview::after{
    content: '';
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5);  
    opacity: 0;
    height: 180px;
    transition: opacity 0.2s ease-in;
}

.preview::before{
    content: '';
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0; 
    z-index: 1000;
    background: url(../images/cat-paw-prints-sharp.svg) no-repeat;
    background-size: 65px;
    background-position: center;
    opacity: 0;
    height: 180px;
    transition: opacity 0.2s ease-in;
}

.preview:hover::after,
.preview:hover::before{
    opacity: 1;
}

.preview img{
    width: 100%;
    height: 180px;
}

.preview .time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.775);
    font-size: 13px;
    cursor: pointer;
    z-index: 999;
}

.preview .video-start-icon{
    position: absolute;
    top: 70px;
    right: 140px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    font-size: 35px;
}

.preview img:hover .video-start-icon{
    opacity: 1;
    visibility: visible;
}

.description a{
    display: flex;
    text-decoration: none;
    outline: none;
    color: black;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
}

.description div{
    padding-left: 5px;
    max-width: 80%;
}

.description img{
    width: 30px;
    border-radius: 50%;
    background-color: #D3D3D3;
    padding: 5px;
}



.author-name{
    color: #686868;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    transition: color 0.2s linear;
}

.author-name:hover,
.video-name:hover{
    color: blueviolet;
}

.video-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s linear;
}

.item{
    display: block;
    position: relative;
}

.icon{
    position: absolute;
    right: 0;
    top: 190px;
    cursor: pointer;
}
