footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
}

footer p{
    cursor: default;
}