body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

ul{
    list-style: none; 
    margin: 0;
    padding: 0;
}

#link{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    color: black;
}

.grid{
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    grid-template-rows: 70px 11fr 1fr;
    grid-template-columns: 1fr 4fr;
}

@media (max-width: 1200px){
    .grid{
        grid-template-rows: 70px 11fr 80px;
        grid-template-columns: 1fr 8fr;
    }
}

/* HEADER */
header{
    grid-area: header;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
    height: 70px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    position: fixed;
    z-index: 1000;
    background-color: white;
}

/* logo */
.header-logo{
    display: flex;
}

.header-logo div{
    margin: 0 15px;
    font-size: 35px;
    color: 	#653c7b;
    cursor: pointer;
    font-weight: 600;
}

.logo-icon{
    color: 	#653c7b;
    font-size: 35px;
    cursor: pointer;
    margin: 5px 0;
}

/* search */
.header-search{
    display: flex;
    margin: 10px 0;
    width: 35%;
}

.header-search input{
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
}

.header-search button{
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.header-search button:hover{
    background-color: #9978ae;
}

.header-search .fa-microphone{
    color: #C1C1C1;
    font-size: 22px;
    margin: 4px 10px;
    cursor: pointer;
    transition: color 0.1s linear;
}

.header-search .fa-microphone:hover{
    color: #9978ae;
}

/* profile */
.header-profile{
    display: flex;
    margin: 10px 0;
}

.header-profile .fa-bell{
    color: #C1C1C1;
    margin: 4px 10px;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.1s linear;
}

.header-profile .fa-bell:hover{
    color: 	#9978ae;
}


.header-profile .submenu-icon{
    background-color: #653c7b;
    color: white;
    border-radius: 50%;
    padding: 7px 9px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    position: relative;

}

.header-profile .submenu-icon:hover{
    background-color: #C1C1C1;
    color: black;
}

.submenu{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 120px;
    z-index: 10;
    transition: 0.5s ease-in-out; 
    margin-top: 5px;
}



.header-profile .submenu-icon .submenu{
    transform: scaleY(0);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.header-profile .submenu-icon:hover .submenu{
    transform: scaleY(1);
}

.submenu > li{
    transition: background-color 0.1s linear;
}

.submenu > li:hover{
    background-color: #9978ae;
}