/* SIDEBAR */
sidebar{
    grid-area: sidebar;
    margin-top: 70px;
    height: 100vh;
    background-color: #ebebeb;
    position: fixed;
    z-index: 900;
    width: 20%;
}


/* streamers */
.streamers{
    height: calc(100vh - 218px);
    overflow-y: scroll;
}

/* SCROLLbar */
.streamers::-webkit-scrollbar {
    width: 10px;
}

.streamers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.streamers::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

/* streamers */

.streamers li{
    transition: background-color 0.1s linear;
}

.streamers li:hover{
    background-color: #9978ae;
}

.streamers > li > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    color: black;
    font-size: 14px;
}

.streamer-name{
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    margin: 0;
    text-overflow: ellipsis;
}

.live{
    position: relative;
}

.live::before{
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: -12px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;

    box-shadow: 0 0 0 0 rgb(255, 0, 0);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.sidebar-streamer-img{
    width: 30px;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 50%;
}

/* Info-block */
.info-block{
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #cccccc;
}

.info-title{
    margin: 0;
}
.info-title::selection{
    background-color: #653c7b;
    color: whitesmoke;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-media > a{
    padding: 15px 10px;
    text-decoration: none;
    outline: none;
    transition: .2s linear;
    color: black;
    font-size: 20px;
}

.social-media a:hover{
    color: #228BE6;
}

@media (max-width: 1200px) {
    .info-block,
    .streamer-name,
    .streamers li a div{
        display: none;
    }

    sidebar{
        width: 70px;
    }

    .streamers{
        height: 100vh;
    }
    
    .streamers::-webkit-scrollbar{
        width: 0;
    }
}
